{% extends 'base.html'  %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit User</h1>

<form action="/users/{{user.id}}/edit" method="post">
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" value="{{user.first_name}}">
    </div>
    <div class="form-group">
        <label for="last-name">First Name</label>
        <input type="text" name="last-name" value="{{user.last_name}}">
    </div>
    <div class="form-group">
        <label for="image-url">Image URL</label>
        <input type="text" name="image-url" value="{{user.image_url}}">
    </div>
    <input type="submit" formaction="/users/{{user.id}}" formmethod="get" value="Cancel" class="btn btn-secondary">
    <input type="submit" value="Save" class="btn btn-primary">
</form>
{% endblock %}